*.la
*.lo
*.o
*.pc
*.pyc
*~
.deps
.dirstamp
.libs
/aclocal.m4
/autom4te.cache
/autotools/compile
/autotools/config.guess
/autotools/config.sub
/autotools/depcomp
/autotools/install-sh
/autotools/libtool.m4
/autotools/ltmain.sh
/autotools/ltoptions.m4
/autotools/ltsugar.m4
/autotools/ltversion.m4
/autotools/lt~obsolete.m4
/autotools/missing
/config.h
/config.h.in
/config.log
/config.status
/configure
/duo_unix-*.tar.*
/duo_unix.spec
/lib/testduo
/lib/testutil_duo_split_at
/libtool
/login_duo/login_duo
/stamp-h1
/tests/testpam
Makefile
Makefile.in
/autotools/test-driver
/duo_unix-*
test.conf
