name: Duo Unix CI

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  nix_ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        cc: [gcc, clang]

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install -y autoconf libtool libpam-dev libssl-dev automake python3 cppcheck

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Build
        run: ./bootstrap && ./configure --with-pam --prefix=/usr && make CC=${{ matrix.cc }}

      - name: Run tests
        run: sudo make check

      - name: Static analysis
        run: cppcheck --quiet --force -i tests --suppressions-list=.false_positive.txt --error-exitcode=1 .
